@font-face {
    font-family: "Sriracha";
    src: url("./assets/fonts/Sriracha-Regular.ttf") format("opentype")
}

@font-face {
    font-family: "Open-Sans";
    src: url("./assets/fonts/OpenSans-Regular.ttf") format("opentype")
}

*, *::after, *::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    cursor: default;
}

body {
    margin: 0%;
}

button {
    width: 25%;
    height: 25vw;
    display: block;
    float: left;
    font-size: 150%;
    font-family: 'Sriracha';
    transition: 0.5s;
    background-color: rgb(252, 98, 42);
    color: white;
    border-radius: 5mm;
    outline: none;
}

.number, #dot {
    background-color: seashell;
    color: black;
}

button:hover, #dot:hover {
    background-color: deepskyblue;
}

#equal {
    width: 50%;
}

#result, #expression {
    text-align: right;
    display: list-item;
    padding: 1mm;
    font-family: 'Open-Sans';
}

#result, #flip {
    overflow-x: scroll;
}

#result::-webkit-scrollbar-track, #flip::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#result::-webkit-scrollbar, #flip::-webkit-scrollbar {
    height: 5px;
    background-color: #F5F5F5;
}

#result::-webkit-scrollbar-thumb, #flip::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgb(253, 130, 29);
}

#expression, #flip {
    transform: rotateX(180deg);
}

#result {
    font-size: 20pt;
    height: fit-content;
}

#numpad {
    padding-top: 1mm;
}